@import '../../variables.scss';

.engineering {

  padding-top: 50px;

  .eng__namecard {
    @media only screen and (max-width: $bp_mobile) {
      text-align: center;
    }

    border-radius: 20px;
    border: 2px dashed gray;
    max-width: 600px;
    padding: 5px 20px;
    margin: 0 auto;

    .eng__namecard__text {
      max-width: 400px;
      display: inline-block;
      margin-right: 50px;

      @media only screen and (max-width: $bp_mobile) {
        margin-right: 0;
      }
    }

    .eng__namecard__image {
      display: inline-block;
      vertical-align: top;

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px dashed gray;
      }
    }
  }

  .eng__looking-for-link {
    text-align: right;
    margin: 0;
    margin-top: -3px;
    padding-right: 100px;
  }

  .eng__socialIcons {
    display: inline-block;

    padding: 0 0 5px 0;
    margin-right: 5px;
    margin-left: -5px;
    margin-bottom: -12px;
    background-color: rgba(255, 255, 255, 0.6);

    a {
      width: 36px !important;
      height: 36px !important;
      display: inline-block;
      position: relative;
      overflow: hidden;
      vertical-align: middle;

      div.social-container {
        width: 30px !important;
        height: 30px !important;
        margin-left: 3px;
        margin-top: 3px;

        &:hover {
          width: 100% !important;
          height: 100% !important;
          margin: 0;
        }
      }
    }

    img {
      width: 30px;
      margin-top: 3px;
      margin-left: 3px;
      border-radius: 50%;

      &:hover {
        width: 36px;
        margin: 0;
      }
    }
  }

  .eng__Resume {
    display: inline-block;
    margin-left: 20px;
  }

  .eng__projects {

    h4,
    h5 {
      margin: 0;
    }
  }
}