@import "../../variables.scss";

.welcome {
  background-image: url("../../images/background_2023.jpg");
  background-repeat: no-repeat;
  min-height: 52vw;
  background-position: 0 5%;
  overflow: hidden;
  position: relative;

  @media only screen and (min-width: $bp-super) {
    background-size: 100vw;
  }

  @media only screen and (max-width: $bp_big) {
    background-position: 40% 5%;
    background-size: 140vw;
  }

  @media only screen and (max-width: $bp_mobile) {
    background-position: 40% 5%;
    background-size: cover;
    min-height: 440px;
  }

  .welcome__titlepic_off {
    display: none;
  }

  .welcome__titlepic {
    z-index: 5;
    position: relative;
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;

    @media only screen and (min-width: $bp_super) {
      padding-top: 12vw;
      max-width: 500px;
    }

    @media only screen and (max-width: $bp_super) {
      max-width: 425px;
      padding-top: 12vw;
    }

    @media only screen and (max-width: $bp_big) {
      padding-top: 150px;
    }

    @media only screen and (max-width: $bp_medium) {
      padding-top: 120px;
    }

    @media only screen and (max-width: $bp_mobile) {
      padding: 120px 80px 0 80px;
    }

    img {
      width: 100%;
    }
  }

  .welcome__stopPlayer {
    z-index: 10;
    position: relative;

    @media only screen and (max-width: 360px) {
      display: none;
    }

    float: right;
    margin-right: 12vw;
    margin-top: 20px;

    button {
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;

      i,
      p {
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
      }

      i {
        font-size: 40px;
      }

      p {
        font-weight: 600;
        margin: 10px 0 0 0;
      }
    }
  }

  .welcome__button {
    background-color: $purple;
    font-weight: 400;
    font-size: 20px;
    color: white;
    border: 2px dashed white;
    outline: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    bottom: 25%;
    left: 46%;

    @media only screen and (max-width: $bp_medium) {
      bottom: 40%
    }

    @media only screen and (max-width: $bp-mobile) {
      font-size: 18px;
      border: 1px dashed white;
      left: 40%;
    }

    transition: background-color 1s;

    &:hover {
      background-color: $accentRed;
    }
  }
}

.welcome__button--scrolled {
  display: none;
}

.welcome__video {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 57vw;
  top: -60px;
  z-index: 1;

  @media only screen and (max-width: 560px) {
    width: 300vw !important;
    height: 440px !important;
    left: -100vw !important;
    top: 0vw;
  }

  @media only screen and (max-width: $bp-mobile) {
    width: 180vw;
    height: 480px;
    left: -40vw;
  }
}

.welcome__videoScreen,
.welcome__videoCover {
  z-index: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 52vw;

  @media only screen and (max-width: $bp-mobile) {
    height: 540px;
  }

  @media only screen and (max-width: 360px) {
    display: none;
  }
}

.welcome__videoCover {
  z-index: 2;
}