@import "../../variables.scss";

.header__image {
  display: inline-block;
  vertical-align: middle;
  img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed $purple;
    transition: width 500ms, height 500ms;
  }
}

.header__title {
  max-width: 300px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  h4 {
    margin: 10px 0 0 0;
    transition: margin 500ms;
    &.small_text {
      font-size: 14px;
    }
  }
}

.header__titleImg {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15.5px 30px;
  display: inline-block;
  top: 0;
  @media only screen and (max-width: $bp-mobile) {
    padding: 5px 35px;
    transition: padding 500ms, margin-top 500ms;
    .header__image img {
      width: 60px;
      height: 60px;
      transition: width 500ms, height 500ms;
    }
    h4 {
      margin: 0 !important;
      transition: margin 500ms;
      font-size: 21px;
    }
    h2 {
      font-size: 22px;
    }
  }
}

.header__titleImg--scrolled {
  width: 100%;
  max-width: 200px;
  padding: 5px 30px;
  transition: padding 500ms, margin-top 500ms;
  .header__image img {
    display: none;
  }
  h4 {
    display: inline-block;
    margin: 0 0 0 15px !important;
    transition: margin 500ms;
    font-size: 21px;
  }
  h2 {
    display: inline-block;
    font-size: 22px;
  }
}
