@import '../../variables.scss';

.toTop{
  background-color: $purple;
  width: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  cursor:pointer;
  position:fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  opacity: .5;
  transition: opacity 500ms, background-color 500ms;

  p, i{
    color:white;
    margin: 0;
    margin-bottom: 10px;
  }
  i{
    font-size: 30px;
    margin-top: 5px;
    }
  &:hover{
    opacity: 1;
    background-color: $accentRed;
  }
  &.toTop--hidden{
    display:none;
  }
}
