@import '../../../variables.scss';

.footer {
  background-color: $darkGray;
  padding: 20px 0 80px 0;
  min-height: 100px;

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span {
    color: white;
  }
}

.footer__socialIcons {
  @media only screen and (max-width: $bp-mobile) {
    margin-bottom: 20px;
  }

  text-align: center;

  a {
    width: 36px !important;
    height: 36px !important;
    margin-left: 6px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;

    div.social-container {
      width: 30px !important;
      height: 30px !important;
      margin-left: 3px;
      margin-top: 3px;

      &:hover {
        width: 100% !important;
        height: 100% !important;
        margin: 0;
      }
    }
  }

  img {
    width: 30px;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 50%;

    &:hover {
      width: 36px;
      margin: 0;
    }
  }

  & :first-child {
    margin-left: 0px;
  }

  & :last-child[aria-label=github] {
    g.social-svg-mask {
      fill: lightgrey !important;
    }
  }
}

.footer__copyright {
  margin-top: 40px;
  text-align: center;
}