@import "./variables.scss";

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $purple;
  }
  p,
  li,
  em,
  i,
  b {
    color: $pText;
  }
  .special_text {
    font-weight: 200;
  }
  h1 {
    font-size: 42px;
    font-weight: 300;
    @media only screen and (max-width: $bp-mobileSmall) {
      font-size: 30px;
    }
  }
  h2 {
    font-size: 30px;
    font-weight: 300;
    @media only screen and (max-width: $bp-mobileSmall) {
      font-size: 24px;
    }
  }
  h3 {
    font-size: 26px;
    font-weight: 300;
    @media only screen and (max-width: $bp-mobileSmall) {
      font-size: 20px;
    }
  }
  h4 {
    font-size: 22px;
    font-weight: 300;
    @media only screen and (max-width: $bp-mobileSmall) {
      font-size: 18px;
    }
  }
  h5 {
    font-size: 18px;
    font-weight: 300;
    @media only screen and (max-width: $bp-mobileSmall) {
      font-size: 16px;
    }
  }
  p {
    font-size: 17px;
    @media only screen and (max-width: $bp-mobileSmall) {
      font-size: 14px;
    }
  }
  a {
    color: $purple;
    &:visited {
      color: $purple;
    }
    &:active {
      color: $purple;
    }
  }
}

.content {
  padding: 0 $indent;
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  @media only screen and (max-width: $bp_mobile) {
    padding: 0 $indent-mobile;
  }
  @media only screen and (max-width: $bp_medium) {
    padding: 0 $indent-medium;
  }
}

.clickable {
  cursor: pointer;
}
