/* Color Pallette */

$purple: #56295b;
$lightPurple: #b375ba;
$lightGray: #f2f2f2;
$darkGray: #1E1E24;
$lightRed: #db8e8e;
$accentRed: #E54B4B;
$offWhite: #f2eae8;
/* Font colors */

$pText: #333333;
$pLighterText: #666666;

/* Breakpoints */
$bp_super: 1800px;
$bp_laurels: 1430px;
$bp_big: 1280px;
$bp_medium: 1024px;
$bp_mobile: 768px;
$bp_mobileSmall: 520px;
$bp_legacy: 359px;

/* Indents */

$indent: 12%;
$indent-medium: 6%;
$indent-mobile: 40px;
